@import 'src/global/colors';
@import 'src/global/variables';

$css_prefix: 'c--c--b-c__';
$class_css_prefix: '.#{$css_prefix}';

#{$class_css_prefix}main {
  margin: 15px;
}

#{$class_css_prefix}title-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px 20px 10px;
  padding: 10px 20px;
}

#{$class_css_prefix}title {
  font-size: 1.4em;
  margin-bottom: 5px;
}

#{$class_css_prefix}title-green {
  color: $color-green;
  transition: color border-bottom 500ms linear;
}

#{$class_css_prefix}title-blue {
  color: $color-blue;
  transition: color 500ms linear;
}

#{$class_css_prefix}title-yellow {
  color: $color-yellow;
  transition: color 500ms linear;
}

#{$class_css_prefix}title-red {
  color: $color-red;
  transition: color 500ms linear;
}

#{$class_css_prefix}y-g path {
  stroke: none;
  color: #fff;
}

#{$class_css_prefix}x-g path {
  stroke: none;
  color: #fff;
}

.tick line {
  visibility: hidden;
}

#{$class_css_prefix}y-g {
  stroke: none;
  color: #fff;
}
