@import 'src/global/colors';
@import 'src/global/variables';

$css_prefix: 'c--c--b-c__';
$class_css_prefix: '.#{$css_prefix}';

#{$class_css_prefix}main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

#{$class_css_prefix}y-g path {
  stroke: none;
  color: #fff;
}

#{$class_css_prefix}x-g path {
  stroke: none;
  color: #fff;
}

.tick line {
  visibility: hidden;
}

#{$class_css_prefix}y-g {
  stroke: none;
  color: #fff;
}
