@import 'src/global/colors';
@import 'src/global/variables';

$css_prefix: 'c--c--d__';
$class_css_prefix: '.#{$css_prefix}';

#{$class_css_prefix}main {
  //   position: absolute;

  display: flex;
  width: fit-content;
}

#{$class_css_prefix}title-main {
  display: flex;
  align-items: center;
  background-color: $color-background-light;
  color: $color-background-dark;
  cursor: pointer;
  border-radius: 5px;
  padding: 3px 0;
  transition: background-color 500ms linear;
}

#{$class_css_prefix}title-icon {
  @include display-flex-center-center;

  padding: 0 5px;
  transition: transform 200ms linear;
}

#{$class_css_prefix}title-icon-active {
  transform: rotate(90deg);
  transition: transform 200ms linear;
}

#{$class_css_prefix}title {
  font-family: 'Noto Bold';
  text-transform: uppercase;
  padding: 0 8px;
  margin: 2px 0;
  border-right: 1px solid $color-background-dark;
}

#{$class_css_prefix}item-main {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-top: 40px;
  padding: 8px;
  border-radius: 5px;
  position: absolute;
  background-color: $color-background-dark;
}

#{$class_css_prefix}item {
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid $color-background-light;
  padding: 3px 0 5px 0;
  max-width: 150px;

  &:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
  }

  &:first-of-type {
    padding-top: 0;
  }
}

#{$class_css_prefix}item-title {
  font-family: 'Noto Light';
  font-size: 0.8em;
  flex: 1;
  margin-right: 10px;
  min-width: 120px;
  text-overflow: ellipsis;
}

#{$class_css_prefix}item-icon {
  @include display-flex-center-center;

  margin-right: 5px;
}
