@import 'src/global/colors';
@import 'src/global/variables';

$css_prefix: 'c--c--a-c__';
$class_css_prefix: '.#{$css_prefix}';

#{$class_css_prefix}main {
  height: 100%;
  margin-left: 5px;
}

#{$class_css_prefix}x-g {
  color: #fff;
}

#{$class_css_prefix}y-g {
  stroke: none;
  color: #fff;
}

#{$class_css_prefix}svg {
  max-width: 100%;
}

#{$class_css_prefix}path {
  transition: fill 1000ms linear;
}
