@import 'src/global/colors';
@import 'src/global/variables';

$css_prefix: 'c--c--s-p__';
$class_css_prefix: '.#{$css_prefix}';

#{$class_css_prefix}main {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // background-color: red;
}

#{$class_css_prefix}circle {
  opacity: 0.6;
}
