@font-face {
  font-family: "Noto Bold";
  font-style: "inherit";
  font-weight: "inherit";
  src: url("../fonts/NotoSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Light";
  font-style: "inherit";
  font-weight: "inherit";
  src: url("../fonts/NotoSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Medium";
  font-style: "inherit";
  font-weight: "inherit";
  src: url("../fonts/NotoSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Regular";
  font-style: "inherit";
  font-weight: "inherit";
  src: url("../fonts/NotoSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Semi Bold";
  font-style: "inherit";
  font-weight: "inherit";
  src: url("../fonts/NotoSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Thin";
  font-style: "inherit";
  font-weight: "inherit";
  src: url("../fonts/NotoSans-Thin.ttf") format("truetype");
}
