@import 'src/global/colors';

// * {
//   font-family: "NotoSans-Regular", sans-serif;
// }

body::-webkit-scrollbar {
  width: 0.4em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

html {
  // height: 100vh;
  font-family: 'Noto Regular';
  background-color: $color-background-dark;
  color: $color-background-light;
}

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

input,
textarea {
  border: none;
  outline: none;
  background-color: inherit;
}

input:disabled,
textarea:disabled {
  background-color: inherit;
  background: inherit;
}

button {
  all: unset;
}

table {
  border-collapse: collapse;
}
