@mixin box-shadow {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

@mixin display-flex-center-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@mixin select-none {
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  -moz-user-select: none; /* Old versions of Firefox */
  -khtml-user-select: none; /* Konqueror HTML */
  -webkit-user-select: none; /* Safari */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@mixin box-shadow {
  // box-shadow: 5px 5px 14px #0e0e0e, -2.5px -2.5px 14px #504f50;
  // box-shadow: 5px 5px 10px #1d1d1d, -5px -5px 10px #272727;
  box-shadow: 10px 10px 20px #1d1d1d, -10px -10px 20px #272727;
}

@mixin button {
  @include select-none;

  display: flex;
  align-items: center;
  background-color: $color-background-light;
  color: $color-background-dark;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 10px;
  transition: background-color 500ms linear;
  font-family: 'Noto Bold';
}

@mixin input {
  border-bottom: 1px solid $color-background-light;
  padding: 7px 3px;
  color: $color-background-light;
  font-family: 'Noto Light';

  &::placeholder {
    font-family: 'Noto Light';
  }
}
