@mixin box-shadow {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

@mixin display-flex-center-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@mixin select-none {
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  -moz-user-select: none; /* Old versions of Firefox */
  -khtml-user-select: none; /* Konqueror HTML */
  -webkit-user-select: none; /* Safari */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
