@import 'src/global/colors';
@import 'src/global/variables';

$css_prefix: 'c--c--l-c__';
$class_css_prefix: '.#{$css_prefix}';

#{$class_css_prefix}main {
  margin: 15px;
}

#{$class_css_prefix}x-g {
  color: #fff;
}

#{$class_css_prefix}y-g {
  stroke: none;
  color: #fff;
}

#{$class_css_prefix}path {
  transition: stroke 300ms linear;
}
