@import 'src/global/colors';
@import 'src/global/variables';

$css_prefix: 'p--h--c--d__';
$class_css_prefix: '.#{$css_prefix}';

#{$class_css_prefix}main {
  padding: 10px 15px;
}

#{$class_css_prefix}item-main {
  @include select-none;

  display: flex;
  align-items: center;
  width: fit-content;
}

#{$class_css_prefix}item {
  margin-right: 20px;
}

#{$class_css_prefix}item-button {
  @include select-none;

  background-color: white;
  display: flex;
  padding: 5px 10px;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  font-family: 'Noto Bold';
}

#{$class_css_prefix}item-button-text {
  padding-right: 7.5px;
  border-right: 1px solid black;
}

#{$class_css_prefix}item-button-icon {
  @include display-flex-center-center;

  margin-top: 2.5px;
  padding-left: 7.5px;
}
