@import 'src/global/fonts';
@import 'src/global/variables';

$css_prefix: 'p--h__';
$class_css_prefix: '.#{$css_prefix}';

#{$class_css_prefix}main {
  // display: flex;
  // flex-direction: column;
  // background-color: red;
  // height: calc(100% - 100px);
  // height: 100%;
  // flex: 1;
  // height: calc(100% - 140px);
  // height: 100%;
  // background-color: red;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
}

#{$class_css_prefix}loader-main {
  @include display-flex-center-center;

  height: 100%;
}

#{$class_css_prefix}graph-main {
  flex: 1;
  // height: 100%;
}

#{$class_css_prefix}options-main {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

#{$class_css_prefix}options-title {
  font-family: 'Noto Light';
}
