@import 'src/global/fonts';
@import 'src/global/variables';

$css_prefix: 'p--h__';
$class_css_prefix: '.#{$css_prefix}';

#{$class_css_prefix}main {
  display: flex;
  flex-direction: column;
  height: calc(100% - 100px);
}

#{$class_css_prefix}loader-main {
  @include display-flex-center-center;

  height: 100%;
}

#{$class_css_prefix}graph-main {
  height: 100%;
}

#{$class_css_prefix}options-main {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

#{$class_css_prefix}options-title {
  font-family: 'Noto Light';
}
