@import "src/global/fonts";

$css_prefix: "p--h__";
$class_css_prefix: ".#{$css_prefix}";

#{$class_css_prefix}main {
  font-family: "Noto Bold";
  font-size: 2.4em !important;
  font-size: 12px;
  height: 100%;
}
