@import 'src/global/colors';
@import 'src/global/variables';

$css_prefix: 'p--p3__';
$class_css_prefix: '.#{$css_prefix}';

#{$class_css_prefix}main {
}

#{$class_css_prefix}loader-main {
  @include display-flex-center-center;

  height: 70vh;
}
