@import "src/global/colors";
@import "src/global/variables";

$css_prefix: "c--c--b-b-c__";
$class_css_prefix: ".#{$css_prefix}";

#{$class_css_prefix}main {
}

#{$class_css_prefix}x-g {
  color: $color-background-light;
  // transform: translate(0, 10);
  // stroke: red;
  // color: red;
}

#{$class_css_prefix}x-g path {
  stroke: none;
}

.tick line {
  visibility: hidden;
}

#{$class_css_prefix}y-g {
  stroke: none;
  color: #fff;
}

.bar {
  // fill: red;
  transition: fill 500ms linear;
}
