@import 'src/global/colors';
@import 'src/global/variables';

$css_prefix: 'c--c--p-c__';
$class_css_prefix: '.#{$css_prefix}';

#{$class_css_prefix}main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 20px;
}

#{$class_css_prefix}value-main {
  display: flex;
  margin-bottom: 15px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;

  #{$class_css_prefix}item {
    display: flex;
    align-items: center;
    margin: 10px 10px 0 0;
  }
}
