@import 'src/global/colors';
@import 'src/global/variables';

$css_prefix: 'c--c--h__';
$class_css_prefix: '.#{$css_prefix}';

#{$class_css_prefix}main {
  //   background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  //   margin-bottom: 50px;
  margin: 15px;
}

#{$class_css_prefix}bars-node {
  transition: fill 500ms linear;
}

#{$class_css_prefix}x-axis-text {
  fill: $color-background-light;
  transform: translate(0, 10px);
  font-size: 12px;
}

#{$class_css_prefix}y-axis-text {
  fill: $color-background-light;
  transform: translate(1050px, 400px);
  font-size: 12px;
}

#{$class_css_prefix}slider-div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0 10px 25px;
}

#{$class_css_prefix}slider-title {
  font-family: 'Noto Thin';
  // font-size: 1.3em;
}

#{$class_css_prefix}slider-input {
  width: 200px;
  height: 40px;
  padding: 20px;
  background: $color-background-dark;
  border-radius: 10px;

  &::-webkit-slider-runnable-track {
    @include track-style;
  }

  &::-webkit-slider-thumb {
    @include thumb-style;
  }

  &::-moz-range-track {
    @include track-style;
  }

  &::-moz-range-thumb {
    @include thumb-style;
  }
}
