$css_prefix: "c--c--b-l-c__";
$class_css_prefix: ".#{$css_prefix}";

#{$class_css_prefix}main {
  flex: 1;
  background-color: #2c3e50;
}

#{$class_css_prefix}title {
  color: #f1c40f;
  margin-left: 50px;
}

#{$class_css_prefix}x-g {
  color: #f1c40f;
}

#{$class_css_prefix}y-g {
  color: #f1c40f;
}

#{$class_css_prefix}path {
  stroke: #e74c3c;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: dash 3s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
