@import 'src/global/colors';
@import 'src/global/variables';

$css_prefix: 'l--h__';
$class_css_prefix: '.#{$css_prefix}';

#{$class_css_prefix}main {
  width: 100%;
  height: 70px;
  display: flex;
  border-bottom: 1px solid slategray;
  align-items: center;
  padding: 0 15px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: $color-background-dark;
}

#{$class_css_prefix}header-text {
  font-size: 20px;
  font-family: 'Noto Bold';
  transition: color 500ms linear;
}

#{$class_css_prefix}header-children {
  flex: 1;
}

#{$class_css_prefix}header-icon {
  @include display-flex-center-center;
  @include box-shadow;

  border-radius: 10px;
  padding: 10px 15px;
  font-size: 1.2em;
  margin-right: 25px;
}
