@import 'src/global/colors';
@import 'src/global/variables';

$css_prefix: 'l--l__';
$class_css_prefix: '.#{$css_prefix}';

#{$class_css_prefix}main {
  // height: 100vh;
}

#{$class_css_prefix}inner-main {
  height: 100vh;
  padding-top: 50px;
}
